

.fbl, footer {
    background-color: #1f2937;
}

.tbl {
    background-color: #e5e7eb;
}

.mt {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
}

.fbl {
    font-size: 18px;
    color: #e5e7eb;
}

h6 {
    font-size: 24px;
    color: #f9faf8;
}
