
/* section background colors */
.fbl, footer {
    background-color: #1f2937;
}

.tbl {
    background-color: #e5e7eb;
}

.blue {
    background-color: #3882f6;
}

button {
    background-color: #3882f6;
    color: #ffffff;
    width: 24%;
    height: 24%;
    border-radius: 8px;
    padding: 10px 15px;
}

/* first block */
.fbl {
    font-size: 18px;
    color: #e5e7eb;
}

.hlinks {
    display: flex;
    justify-content: space-around;
    padding: 16px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.under {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.subtexts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%
}

.mt {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

.fb {
    margin-top: 10px;

}

.image {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* All parts */

p {
    margin: 0;
}

